<body class="bodyFeed">
  <div class="publicacao">
    <div class="headPublicacao">
      <img class="imagemPerfil" src="images/backgroundCoconut.png" alt="Imagem de perfil" srcset="">
      <p>Mateus Rodrigues</p>
    </div>
    <div class="receita">
      <h3>Nome Receita</h3>
      <div class="blocoReceita">
        <div class="imagemReceita">
          <img src="images/backgroundCoconut.png" alt="" srcset="">
        </div>
        <div class="infoReceita">
          <p>Breve descrição da receita: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce gravida metus justo, a pellentesque erat scelerisque quis. Aliquam suscipit nunc libero, id ornare dolor commodo id</p>
          <br>
          <ul>
            <li>Tempo de preparo: </li>
            <li>Likes: </li>
            <li>Quantidade de comentários: </li>
            <li>Rendimento: </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</body>