<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MrCoconut.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/MrCoconut.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewBag.LoggedIn != null)
    {
        <header>
            <h1 class="logo">Mr.Coconut</h1>
            <nav class="navLinks">
                <ul>
                    <li><a asp-action="">Feed</a></li>
                    <li><a asp-action="">Novo Post</a></li>
                    <li><a asp-action="">Conta</a></li>
                </ul>
            </nav>
        </header>
    }

    @RenderBody()

    @if (ViewBag.LoggedIn != null)
    {
        <footer class="border-top footer text-muted">
            <meta name="author" content="Mateus Rodrigues">Feito com &lt3 por <a href="">Mateus Rodrigues Silva</a>
            <p>Mr.Coconut</p>
            <p>Todos os direitos reservados - 2022</p>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
